{
  "identities": [
    {
      "name": "admin",
      "credentials": [
        {
          "accessKey": {{ seaweedfs_s3_access_key | to_json }},
          "secretKey": {{ seaweedfs_s3_secret_key | to_json }}
        }
      ],
      "actions": ["Admin", "Read", "List", "Tagging", "Write"]
    },
    {
      "name": "gitea",
      "credentials": [
        {
          "accessKey": {{ seaweedfs_gitea_access_key | to_json }},
          "secretKey": {{ seaweedfs_gitea_secret_key | to_json }}
        }
      ],
      "actions": [
        "Read:{{ seaweedfs_gitea_bucket }}",
        "List:{{ seaweedfs_gitea_bucket }}",
        "Tagging:{{ seaweedfs_gitea_bucket }}",
        "Write:{{ seaweedfs_gitea_bucket }}"
      ]
    },
    {
      "name": "harbor",
      "credentials": [
        {
          "accessKey": {{ seaweedfs_harbor_access_key | to_json }},
          "secretKey": {{ seaweedfs_harbor_secret_key | to_json }}
        }
      ],
      "actions": [
        "Read:{{ seaweedfs_harbor_bucket }}",
        "List:{{ seaweedfs_harbor_bucket }}",
        "Tagging:{{ seaweedfs_harbor_bucket }}",
        "Write:{{ seaweedfs_harbor_bucket }}"
      ]
    }
  ]
}
